*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
}

h2{
    text-align: center;
    margin-top: 20px;
    font-size: 45px;
}

.header-container{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    padding: 5px;
    margin-top: -10px;

}

.logo img{
    width: 150px;
    margin-right: 150px;
}

.nav-items ul, 
.nav-items li {  
    list-style: none;
    display: flex;
    padding: 20px;
}

.nav-items ul a{
    text-decoration: none;
    color: black;
    margin-top: -15px;
}

.nav-items ul a:hover{
    color: rgb(255, 255, 0);
    text-decoration: underline;
}


.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* MOBILE STYLES */
@media (max-width: 768px) {

    .nav-items {
        display: none;
        width: 100%;
        background-color: white;
        position: absolute;
        top: 70px;
        left: 0;
        text-align: center;
        padding: 20px 0;
    }

    .nav-items ul {
        flex-direction: column;
    }

    .nav-items li {
        padding: 15px 0;
    }

    .nav-items.active {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .header-container {
        justify-content: space-between;
        padding: 10px 20px;
    }

    .logo img {
        margin-right: 0;
    }
}


.banner{
    text-align: center;
    padding: 30px;
    margin-top: -10px;
    background-image: url(banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 94%;
    margin-left: 8px;
    border-radius: 15px;
    height: 250px;
    align-items: center;
    text-align: center;
}
.banner-content{
    margin-top: 60px;
    font-size: 32px;
}

.banner-content span{
    color: white;
}
.banner .btn{
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: black;
    width: 150px;
}

.banner .btn:hover{
    background-color: yellow;
    color: black;
    transition: .3s ease;
}

#main{
    margin-top: 50px;
    font-size: 28px;
    align-items: center;
}
.clothing-section{
    display: flex;
    margin-top: 30px;

}

.clothing-item {
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;  
    margin-top: 30px;
    width: 250px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.clothing-item h3, 
.clothing-item p {
    text-align: center;
    font-size: 22px;
    margin: 10px 0 5px;
}
.clothing-item img {
    width: 180px;  
    height: 180px; 
    border-radius: 10px;
    border: 1px solid black;
    padding: 15px;  
    object-fit: contain; 
}

.bannertwo{
    background-image: url(banner2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
    height: 200px;
    padding: 30px;
    text-align: center;
    font-size: 45px;
    width: 94%;
    border-radius: 15px;
    margin-left: 8px;
}

.bannertwo h2{
    color: white;
    font-weight: 600;
    font-size: 90px ;
    margin-left: 400px;
    margin-top: 50px;

}

.about-section{
    display: flex;
    background-color: black;
    color: white;
    margin-top: 50px;
}

.about-section img{
    width: 500px;
    height: 550px;
    padding: 60px;
    border-radius: 30px;
}

.about-section .text{
    text-align: center;
    margin-left: 15px;
    padding: 20px;
    display: block;
}

.about-section p{
    margin-top: 50px;
}

.about-section button{
    margin-top: 50px;
    color: black;
    background-color: yellow;
    width: 150px;
    height: 60px;
    font-weight: bold;
}

#contact{
    background-color: black;
    color: white;
}

.form{
    align-items: center;
    justify-content: center;
    margin-left: 200px;
}

.form input{
    width: 300px;
    height: 30px;
    border-radius: 7px;
    border: 3px solid yellow;
}

.basic-info{
    display: flex;
    margin-top: 40px;
}

.part-2{
    margin-left: 50px;
}

.text-area{
    margin-top: 30px;
}

.text-area textarea{
    width: 880px;
    height: 100px;
    margin-bottom: 10px;
    border: 3px solid yellow;
    border-radius: 8px;
}
.submit{
    align-items: center;
    margin-left: 350px;
    width: 150px;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    color: black;
    background-color: yellow;
    margin-bottom: 50px;
}

.footer-section{
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: space-between;
}

.footer-section h3{
    text-decoration: underline;
    margin-top: -50px;
    margin-bottom: 20px;
}

.footer-section ul,
.footer-section li{
    list-style: none;

    margin-bottom: 10px;

}

.section-two,
.section-three{
    padding: 10px;
    margin-top: 20px;
}

.footer-section img{
    width: 200px;
}

@media ( max-width : 768px ){
    body{
        display: block;
        font-size: 16px;
        align-items: center;
    }
    .clothing-section,
    .clothing-item,
    .about-section,
    .basic-info,
    .footer-section
    {
        display: block;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .clothing-item{
        margin-left: 75px;
    }

    .banner{
    text-align: center;
    padding: 10px;
    margin-top: -5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-left: -10px;
    border-radius: 15px;
    height: 350px;
    align-items: center;
    text-align: center;
}


.bannertwo{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
    height: 200px;
    padding: 30px;
    text-align: center;
    font-size: 45px;
    width: 100%;
    border-radius: 15px;
    margin-left: -10px;
}
.bannertwo h2{
    color: white;
    font-weight: 600;
    font-size: 45px ;
    margin-left: 90px;
    margin-top: 50px;

}

.about-section img{
    width: 400px;
    height: 450px;
    padding: 60px;
    border-radius: 30px;
    margin-left: -45px;
}
.section-one img{
    width: 120px;
}
.section-two{
    margin-top: 50px;
}
.section-three{
    margin-top: 30px;
}

.copy{
    text-align: center;
    align-items: center;
}

}

@media screen and (max-width: 768px) {
    .form {
        margin-left: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .basic-info {
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }

    .part-2 {
        margin-left: 0;
        margin-top: 20px; 
    }

    .form input, 
    .text-area textarea {
        width: 100%; 
        max-width: 100%;
        box-sizing: border-box; 
    }

    .submit {
        margin-left: 0;
        width: 100%;
    }
}
